body {
    width: 250px;
    overflow: scroll;
}
.switch {
    font-size: 12px;
    width: 25px;
}
.right {
    float: right
}
.thumb {
    margin-bottom: 30px;
}
#randomCats {
    height: 120px;
    width: 180px
}
footer {
    margin: 50px 0;
}
#pixabay {
    font-size: 10px;
}
