<!DOCTYPE html>
<html lang="en">

<head>
    <title>moreCat</title>
    <link href="../public/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../public/css/thumbnail-gallery.css" rel="stylesheet" />
    <link href="../public/css/slider.css" rel="stylesheet" />
    <script src="bundle.js"></script>
</head>

<body ng-app="moreCat">
    <div ng-controller="CatCtrl">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h4>Current Cat Scale: {{catScale}} %</h4>
                    <input type="range" min="0" max="100" ng-model="catScale" value="this.value" step="25" ng-change="getPercentage(catScale)"/>
                    <br />
                    <h5>Switch It Up with:</h5>
                    <div class="col-xs-4 thumb">
                        <a class="thumbnail" ng-click="switchImg(birus)">
                            <img class="img-responsive" src="{{biru}}">
                        </a>
                        <h5 class="right">Biru  <a href="https://www.instagram.com/birugangsta/" target="_blank"><img src="../images/instagram.png"></img></a></h5>
                    </div>
                    <div class="col-xs-4 thumb">
                        <a class="thumbnail" ng-click="switchImg(grumpys)">
                            <img class="img-responsive" src="{{grumpy}}">
                        </a>
                        <h5 class="right">Grumpy Cat   <a href="https://www.instagram.com/realgrumpycat/" target="_blank"><img src="../images/instagram.png"></img></a></h5>
                    </div>
                    <div class="col-xs-4 thumb">
                        <a class="thumbnail" ng-click="switchImg(nalas)">
                            <img class="img-responsive" src="{{nala}}">
                        </a>
                        <h5 class="right">Nala    <a href="https://www.instagram.com/nala_cat/" target="_blank"><img src="../images/instagram.png"></img></a></h5>
                    </div>
                </div>
            </div>
            <hr>
            <p id="copyright">Copyright &copy; moreCat 2016</p>
        </div>
    </div>
</body>

</html>
